*{
    margin: auto;
    padding: 0px;
}

body {
    display: flex; /* Habilita Flexbox */
    justify-content: center; /* Centra horizontalmente */
    align-items: center; /* Centra verticalmente */
    flex-direction: column; /* Coloca los elementos uno bajo el otro */
    background-color:darkgreen; /* Color de fondo opcional */
    background-image: url(../images/fondo7colores.jpg);
    background-position: center;
    background-size: auto;
}
h1{
    padding: 5px;
    margin: 15px;
    text-decoration: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.menu1{
    padding: 10px 20px;
}

.menu1 ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 15px; /* Espacio uniforme entre botones */
    justify-content: center; /* Centrado opcional */
    align-items: center;
}
.menu1 a {
    text-decoration: none;
    color: white;
    font-weight: 500;
    padding: 10px 18px;
    background-color:olive;
    border-radius: 5px;
    transition: background-color 0.3s, transform 0.2s;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}
#linkMuseos{
    display: flexbox;
    align-items: center;
}
.Titulo{
    text-align: center;
    background-color: olive;
    color: whitesmoke;
    padding: 5px;
    margin: 15px;
    width: 350px;
    font-style: oblique;


}
#texttitulo {
    text-align: center;
}
.museoslist{
    display:flexbox;

}
.secMuseos{
    color: dark;
}
.fondform{
    background-image: url(../images/fonfoform.jpeg);
    background-position: center;tr4
    width: 5px;
    
}


h2, h3{
    text-align: center;
    font-size: 25px;
}
section{
    background-color: lightgreen;
    display: flexbox;
    align-items: center;  
    margin: 10px 100px;
    border-style:solid;
}
p{
    font-size: 25px;
}
article{
    background-color: lightblue;
    display:flexbox;
    text-align: center;
    border-style:solid;
}
hr{
    border: none;
    height: 5px;
    background-color: olive;
    box-shadow: 0 2px 5px rgba(red, green, blue, alpha);
    margin: 20px 0px;
}
footer {
    color: whitesmoke;
    text-align: center;
    padding: 10px;
    margin-top: 50px/* Empuja el footer hacia abajo */

}